<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyKho.Properties.Settings.QLKhoHangConnectionString"
            connectionString="Data Source=DESKTOP-CE8KMD8\SQLEXPRESS;Initial Catalog=QLKhoHang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
